 
body {
    background-color: hsl(30, 54%, 90%);
    /* font-family: 'Young Serif', serif; */
    font-size: 16px;
    padding: 0;
    margin: 0;
}
h2, h3,h4 {
    font-family: "Young Serif", "Outfit", serif;
    font-weight: 600;
    color: hsl(14, 45%, 36%);;
    font-style: normal;
}
h1 {
    font-weight: 700;
}

#main-div {
    margin: 10%;
    border-radius: 25px;
    background-color: white;
    padding: 30px;
}

img {
    width: 100%;
    border-radius: 10px;
}

.grey_color {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-bottom: solid 0.5px hsl(30, 10%, 34%);
}

th,
td {
    text-align: left;
    border-bottom: solid 0.5px hsl(30, 10%, 34%);
    padding: 10px;
    padding-left: 35px;
    
}

.unique-div {
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
    padding: 10px;
}

.unique-div h4 {
    color: hsl(332, 51%, 32%);
}

h3 {
    color: hsl(14, 45%, 36%);
    font-family: 'Outfit', sans-serif;
}

li {
    padding-left: 25px;
    padding-bottom: 5px;
}

ol {
    padding-left: 0;
    list-style: none;
    counter-reset: list-counter;
}

ol li {
    counter-increment: list-counter;
    position: relative;
    padding-left: 40px;
}

ol li::before {
    content: counter(list-counter) ". ";
    color: hsl(14, 45%, 36%);
    position: absolute;
    left: 10px;
}

ul li::marker {
    color: hsl(14, 45%, 36%);
}

@media (max-width: 375px) {
    #main-div {
        margin-top: 5%;
        margin: 10%;
        padding: 20px;
    }
    table {
        width: 100%;
        max-width: 100%;
    }
    th, td {
        padding-left: 20px;
    }
}

@media (min-width: 376px) and (max-width: 1440px) {
    #main-div {
        margin-top: 10%;
        /* margin: 20%; */
    }
    table {
        width: 100%;
    }
}
